body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(to right, hsl(222, 14%, 86%), rgb(37, 108, 190));
    color: #333;
    text-align: center;
    padding: 30px;
}

h1 {
    color: rgba(46, 34, 34, 0.877);
    font-size: 2.5em;
    margin-bottom: 10px;
}

h2 {
    color: rgba(46, 34, 34, 0.877);
    margin-top: 40px;
}

.y{
    background: #edeaea;
    padding: 20px;
    margin: 20px auto;
    width: 60%;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input[type="text"], input[type="password"] {
    padding: 15px;
    width: 20%;
    margin: 10px;
    border: 1px solid #62695a;
    border-radius: 8px;
    outline: none;
    transition: 0.3s ease-in-out;
}

button {
    background-color: #31b367;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #3a74cc;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    background-color: edeaea;
}

th, td {
    padding: 37px 18px;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #3498db;
    color: white;
    font-weight: 600;
}

tr:nth-child(even) {
        background:white;

}
tr:nth-child(odd) {
        background: white;

}

tr:hover td {
    background-color:whitesmoke;
    cursor: pointer;
}
.yes{
    background-color:red;
}
.logout {
    text-align: right;
    margin-right: 40px;
}

.logout a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
}

.logout a:hover {
    text-decoration: underline;
}
/* Login Page Styling */
.login-page {
    background: url("/static/key-bg.avif") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.login-container h2 {
    margin-bottom: 20px;
    color: #2c3e50;
    font-size: 24px;
}

.login-container input[type="password"] {
    padding: 10px;
    width: 80%;
    border-radius: 8px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    outline: none;
}

.login-container button {
    background-color: #27ae60;
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 8px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.login-container button:hover {
    background-color: #1e8449;
}
.text{
    margin-bottom: 20px; 
    text-align: center; 
    display: block; 
    margin-left: auto; 
    margin-right: auto;">

}